/Dockerfile export-ignore
/LICENSE.md export-ignore
/Makefile export-ignore
/NOTES.md export-ignore
/README.md export-ignore
/conf.json export-ignore
/data/bitmaps export-ignore
/data/slimmed export-ignore
/metadata.json export-ignore
/requirements.txt export-ignore
/ruff.toml export-ignore
/sources export-ignore
/tests export-ignore
/tools export-ignore
